################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CORE/bin/Debug
/DATA/bin/Debug
/.vs/config
/.vs/DoctorsApp/v14
/CORE/obj/Debug
/DATA/obj/Debug
/DoctorsApp/bin
/DoctorsApp/DoctorsApp.csproj.user
/.vs
